/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400&display=swap");

.info {
  background: white;
  position: relative;
  width: 80%;
  margin: 50px auto;
  max-height: 300px;
}

.infoText, .infoTextRight {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 24px;
  color: black;
  display: inline-block;
  width: 50%;
  position: relative;
  top: -120px;
}

.infoTextRight {
  text-align: right;
}

.imgWrapper {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.tombImg {
  max-height: 300px;
}
