/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400&display=swap");

.order-form {
  text-align: center;
}

.form-title {
  font-size: 32px;
}

.form-name,
.form-phone,
.form-title,
.form-submit,
.form-item-name,
.form-img {
  display: block;
  margin: 0 auto 10px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

input[type=text] {
  padding: 5px;
  outline: none;
  border-radius: 10px;
  border: 1px dotted gray;
  width: 90%;
  font-size: 16px;
}

.form-submit {
  border-radius: 20px;
  background: #005bff;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.form-submit:hover {
  background: #0038a6;
}

.form-img {
  display: block;
  height: 200px;
}
