* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.faq {
  margin: 0;
  height: 100%;
}

.nav {
  position: sticky;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 60px;
  top: 0;
  z-index: 100;
  background: white;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  padding-left: 20px;
}

.nav-logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);

  letter-spacing: 3px;
  user-select: none;
}

.nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition:  ease-in-out color 0.2s;
  outline: none;
}

.nav ul li a:hover {
  color: #8804de;
}
